body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    background: #fff;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid rgb(91, 5, 5);
}

h2 {
    color: olive;
    text-align: left;
}
p{
    text-align: left;
}

.image-container {
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    background: white;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: rgb(91, 5, 5);
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}
.product-carousal {
    border: 2px solid rgb(91, 5, 5);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px black; /* Added black shadow */
}

/* pacman */
.game-container {
    width: 80%;
    max-width: 90vw; /* Ensures it doesn’t exceed 90% of the viewport */
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid rgb(91, 5, 5);
}


.controls button {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #ab7010; /* Added border */
    background-color: rgb(91, 5, 5);
    color: white;
    padding: 4px;
    border-radius: 5px;
}

#x-button{
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* padding: 2px; */
    color: white;
    padding-right: 4px;
    padding-left: 4px;
    font-size: small;
    background-color: rgb(229, 43, 43);
}

.controls .active {
    background-color: rgb(245, 245, 239);
    color: #900;
    border: 3px solid #eed40b; /* Added border */
}

.controls .active #x-button{
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* padding: 2px; */
    color: black;
    padding-right: 4px;
    padding-left: 4px;
    font-size: small;
    background-color: rgb(229, 43, 43);
}

.keyboard {
    border: 4px solid rgb(91, 5, 5);
    width: 45%;
    background-color: black;
    margin: 0 auto; /* Centers the element horizontally */
    margin-bottom: 8px;
    border-radius: 10px; /* Added border radius */
}


.game-box {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: black;
    border: 4px solid rgb(91, 5, 5);
    overflow: hidden;
    border-radius: 10px; 
}

#pacman {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}